<h1>About</h1>
<p>
 <%= link_to "Chinstagram", '#' %> 
 is a movement to turn everyday moments into double Chintastic ones. This is the sample application.
 </p>
<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>


